.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.mole {
	background-image: url("https://i.postimg.cc/kGMtSswX/4bf4519f7ff3290bc63ff9a6c32285ab.jpg");
	background-size: cover;
}
